<div class="page__comments">
  {% capture comments_label %}{{ site.data.ui-text[site.locale].comments_label | default: "Comments" }}{% endcapture %}
  {% case site.comments.provider %}
    
    {% when "utterances" %}
      <h4 class="page__comments-title">{{ comments_label }}</h4>
      <section id="utterances-comments"></section>
    {% when "custom" %}
      <section id="custom-comments">
        <script src="https://utteranc.es/client.js"
        repo="pushpull7381/blog-comments"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
        </script>
      </section>

  {% endcase %}
</div>
